@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Dosis&family=Montserrat&family=Nunito&family=Poppins:wght@400&family=Press+Start+2P&family=Silkscreen&display=swap');

$dark-purple: #231d41;
$dark-main: #232031;
$light-mid-purp: #352e57;
$light-purple: #684889;
$dashboard-background: #231e3b;
$sidebar-background: #232131;
$subtle-button: #322e45;
$puce: #b5a6c3;
$icon-color: #a5a3b0;
$background-gradient: linear-gradient(
  152deg,
  rgba(240, 212, 255, 0.459) 45%,
  rgba(254, 250, 255, 0.562) 67%
);
$nav-gradient: linear-gradient(
  48deg,
  rgba(53, 46, 87, 1) 54%,
  rgba(88, 60, 117, 1) 84%
);
$download-button: rgb(61, 88, 172);
.css-19r6kue-MuiContainer-root,
.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background: rgb(53, 46, 87);
  background: linear-gradient(48deg, rgb(50, 46, 87) 54%, rgb(74, 60, 117) 84%);
  button {
    color: #d5cae1;
  }
}

body,
html {
  width: 100vw;
}

.MuiTypography-h6,
.MuiTypography-h5 {
  margin-left: 0.25em !important;
  padding: 0.15em !important;
  color: white;
  font-family: 'Press Start 2P', cursive !important;
  text-align: center !important;
  font-size: 2em !important;
  letter-spacing: -1px !important;
  word-spacing: 1px !important;

  .title {
    background: -webkit-linear-gradient(#eee, rgb(69, 43, 94));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(-4px -1px rgb(66, 36, 76))
      drop-shadow(-4px -1px rgb(46, 25, 53))
      drop-shadow(-4px -1px rgb(30, 16, 34));
  }

  .plus {
    font-size: 1em !important;
    background: -webkit-linear-gradient(#eee, rgb(130, 109, 25));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(-3px -1px rgb(88, 76, 29))
      drop-shadow(-3px -1px rgb(52, 45, 17))
      drop-shadow(-3px -1px rgb(24, 21, 8));
  }
}

.css-1t6c9ts {
  @media (min-width: 900px) {
    justify-content: flex-end;
  }
}
.homepage {
  display: grid;
  // background-color: #f0d4ff;
  // background-image: linear-gradient(152deg, #dfd4ff4b 45%, #fcfaff78 67%);
  background-image: linear-gradient(
      to top left,
      rgba(221, 215, 235, 0.752),
      rgba(104, 80, 181, 0.617)
    ),
    var(--img);

  width: 100%;
  height: 70vh;
  box-shadow: 5px 5px 10px 5px $background-gradient;
  // background-image: "./assets/red-wave.jpg";
  background-repeat: no-repeat;
  // backdrop-filter: opacity(.5) blur(5px) !important;

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
// .homepage::before {
//   background-image: url('./assets/red-wave.jpg');
// }
.download {
  // background: rgb(64, 147, 198);
  // background: linear-gradient(105deg, rgba(53, 80, 163, 0.972) 40%,rgba(71, 84, 200, 0.898) 98% );
  background: rgb(64, 147, 198);
  background: linear-gradient(
    105deg,
    rgb(71, 44, 151) 40%,
    rgb(95, 60, 199) 98%
  );
  padding: 1em 2.5em;
  border: none;
  border-radius: 10px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 1s !important;
  box-shadow: 4px -1px 3px rgba(32, 32, 35, 0.222);
  color: rgba(253, 254, 255, 0.742);
  // border: 1px solid rgb(58, 121, 159);
  position: relative;
}
.download:hover {
  background: rgba(71, 44, 151, 0.676);
  color: rgb(32, 19, 49);
  transform: scale(1.01);
  box-shadow: 4px -3px 3px rgba(32, 32, 35, 0.327);
  border: 3px solid rgb(71, 44, 151);
  color: rgb(25, 25, 68);
}
.download:active {
  transform: scale(0.97);
}
body {
  width: 100%;
  color: $light-mid-purp;
  background: rgba(250, 248, 253, 0.562);
  text-align: center;
}

.centered {
  display: flex;
  justify-content: center;
}
.cross-place {
  display: grid;
}
body {
  font-family: 'Poppins', sans-serif;
}

.tag-line {
  margin: 1em;
  width: 50%;
  // color: $light-mid-purp;
  color: rgba(255, 255, 255, 0.682);
  h5,
  h1 {
    letter-spacing: 0.2em;
  }
  h1 {
    font-size: 40px;
  }
  em {
    font-size: 60px;
  }
}

// CREATOR SEGEMENT

.creator-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid #5f539b29;
  max-height: 90vh;
  width: 100%;
  img {
    width: 15em;
    max-height: 50em;
    min-width: 40%;
    min-height: 50%;
    border-radius: 50%;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.342);
    margin: 1em 3em;
  }
}
#creators {
  // width: 100%;
  h1 {
    display: flex;
    border-bottom: 3px solid $subtle-button;
    text-align: center;
    width: 50%;
    justify-content: center;
    align-items: center;
    align-self: center;
    letter-spacing: 0.3rem;
    word-spacing: 0.4rem;
    margin: 1em;
  }
  .cards-outline {
    display: flex;
    border: 0.5px solid #413c5829;
    justify-content: center;
    width: 100%;
  }
}
.social-icon {
  margin: 0.5em;
  margin-bottom: 3em;
}

#install {
  height: 100vh;
}

#about {
  
  height: 100vh;
  background:linear-gradient(162deg, rgba(82, 65, 128, 0.19)35%,rgba(160, 137, 224, 0.052) 67% );
  // display: flex;
  // align-items: flex-start;
  // justify-content: center;
  // flex-direction: column;
  display: flex;
  justify-content: center;

  .grid{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns:  2fr 1fr .5fr;

  .k8s {
    display: flex;
    max-width: 300px;
height: 200px;
  }
  .images{
      display:flex;
      max-height: 13em;
      flex-direction: column;
align-items: center;
gap: 2em;
    }
  .grafana {
    display: flex;
    max-width: 200px;
  }
  .prom {
      display: flex;
      max-width: 150px;
    }
  .about-glance {
    display: flex;
    min-width: 50%;
    margin: 3em 4em;
    text-align: left;
    flex-direction: column;
    
    h2 {
      font-size: 25px;
      letter-spacing: 2px;
    }
    
  }
  .description {
    display: flex;
    width: 70%;
    font-size: 16px;
  }
}
}

//FOOTER
.footer {
  height: 30vh;
  background-color: $subtle-button;
  color: rgb(224, 242, 238);
}

::selection {
  background: rgb(53, 46, 87);
  background: rgb(82 65 128);
  color: #eee;
}
// body{
//   min-width: 100%;
// }

button:hover {
  cursor: pointer;
}
