@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Dosis&family=Montserrat&family=Nunito&family=Poppins:wght@400&family=Press+Start+2P&family=Silkscreen&display=swap');

$dark-purple: #231d41;
$dark-main: #232031;
$light-mid-purp: #352e57;
$light-purple: #684889;
$dashboard-background: #231e3b;
$sidebar-background: #232131;
$subtle-button: #322e45;
$puce: #b5a6c3;
$icon-color: #a5a3b0;
$background-gradient: linear-gradient(
  152deg,
  rgba(240, 212, 255, 0.459) 45%,
  rgba(254, 250, 255, 0.562) 67%
);
$nav-gradient: linear-gradient(
  48deg,
  rgba(53, 46, 87, 1) 54%,
  rgba(88, 60, 117, 1) 84%
);
$download-button: rgb(61, 88, 172);
.css-19r6kue-MuiContainer-root,
.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background: rgb(53, 46, 87);
  background: linear-gradient(48deg, rgb(50, 46, 87) 54%, rgb(74, 60, 117) 84%);
  button {
    color: #d5cae1;
  }
}

// body,
// html {
//   width: 100vw !important;
// }
html {
  width: 100vw !important;
  overflow-x: hidden;
}

body {
  width: 100vw;
  color: $light-mid-purp;
  background: rgba(250, 248, 253, 0.562);
  text-align: center;
  margin: 0 !important;
}

.MuiTypography-h6,
.MuiTypography-h5 {
  margin-left: 0.25em !important;
  padding: 0.15em !important;
  color: white;
  font-family: 'Press Start 2P', cursive !important;
  text-align: center !important;
  font-size: 2em !important;
  letter-spacing: -1px !important;
  word-spacing: 1px !important;

  .title {
    background: -webkit-linear-gradient(#eee, rgb(69, 43, 94));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(-4px -1px rgb(66, 36, 76))
      drop-shadow(-4px -1px rgb(46, 25, 53))
      drop-shadow(-4px -1px rgb(30, 16, 34));
  }

  .plus {
    font-size: 1em !important;
    background: -webkit-linear-gradient(#eee, rgb(130, 109, 25));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(-3px -1px rgb(88, 76, 29))
      drop-shadow(-3px -1px rgb(52, 45, 17))
      drop-shadow(-3px -1px rgb(24, 21, 8));
  }
}

.css-1t6c9ts {
  @media (min-width: 900px) {
    justify-content: flex-end;
  }
}

.homepage {
  display: grid;
  // background-color: #f0d4ff;
  // background-image: linear-gradient(152deg, #dfd4ff4b 45%, #fcfaff78 67%);
  background-image: linear-gradient(
      to top left,
      rgba(221, 215, 235, 0.752),
      rgba(104, 80, 181, 0.617)
    ),
    var(--img);

  width: 100%;
  // height: 90vh;
  box-shadow: 5px 5px 10px 5px $background-gradient;
  // background-image: "./assets/red-wave.jpg";
  background-repeat: no-repeat;
  // backdrop-filter: opacity(.5) blur(5px) !important;

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
  }

}
// .homepage::before {
//   background-image: url('./assets/red-wave.jpg');
// }
.download {
  // background: rgb(64, 147, 198);
  // background: linear-gradient(105deg, rgba(53, 80, 163, 0.972) 40%,rgba(71, 84, 200, 0.898) 98% );
  background: rgb(64, 147, 198);
  background: linear-gradient(
    105deg,
    rgb(71, 44, 151) 40%,
    rgb(95, 60, 199) 98%
  );
  padding: 1em 2.5em;
  border: 3px solid transparent;
  border-radius: 10px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s !important;
  box-shadow: 4px -1px 3px rgba(32, 32, 35, 0.222);
  color: rgba(253, 254, 255, 0.742);
  // border: 1px solid rgb(58, 121, 159);
  position: relative;
}
.download:hover {
  background: rgba(71, 44, 151, 0.676);
  color: rgb(32, 19, 49);
  transform: scale(1.01);
  box-shadow: 4px -3px 3px rgba(32, 32, 35, 0.327);
  border: 3px solid rgb(71, 44, 151);
  color: rgb(25, 25, 68);
}

.download:active {
  transform: scale(0.97);
}

.centered {
  display: flex;
  justify-content: center;
}
.cross-place {
  display: grid;
}
body {
  font-family: 'Poppins', sans-serif;
}

.tag-line {
  width: 100%;
  // color: $light-mid-purp;
  color: rgba(255, 255, 255, 0.682);

  .header-content {
    display: flex;
    flex-direction: column;
    margin: 10vh auto;
    // padding: 10vw;
  }

  h5, h1 {
    letter-spacing: 0.125em;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  em {
    font-size: 4.5rem;
  }
}

// CREATOR SEGEMENT

.creator-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 0.5px solid #5f539b29;
  max-height: 90vh;
  max-width: 25vw;
  img {
    width: 200px;
    height: 200px;
    border-radius: 60%;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.342);
    margin: 1em 2em;
  }
}
#creators {
  // width: 100%;
  h1 {
    display: flex;
    // border-bottom: 3px solid $subtle-button;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    // letter-spacing: 0.125rem;
    word-spacing: 0.4rem;
    // margin: 1em;
  }
  .cards-outline {
    display: flex;
    justify-content: center;
    // width: 100%;
  }
}
.social-icon {
  margin: 0.25em;
  margin-bottom: 3em;
}





////ABOUT PAGE ///////////////////////////


#about{
  // height: 80vh;
  background: linear-gradient(
    162deg,
    rgba(82, 65, 128, 0.265) 35%,
    rgba(179, 159, 231, 0.052) 67%
  );
   
.page {
  padding: 7.5vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    margin-top: 0;
  }

  .grid {

    .kleric {
      max-width: 50%;
    }

    .grafana, .prom, .k8s {
      max-height: 50px;
      max-width: 200px;
      // margin-right: 0.5em;
      padding: 0.5em;
    }

    .images {
      margin-top: 2em;
      display: flex;
      justify-content: center;
    }

    .about-glance {
      width: 50vw;
      margin: auto auto 1.6em;
      text-align: left;
      background-color: rgba(255, 255, 255, 0.615);
      padding: 2em;
      border-radius: 10px;
      box-shadow: 3px 3px 5px rgba(215, 208, 222, 0.75);
      position: static;

      h2 {
        font-size: 25px;
        letter-spacing: 2px;
        width: 90%;
        margin: auto;
      }
    }

    .description {
      display: flex;
      font-size: 1em;
      width: 90%;
      margin: auto;
      position: relative;
      // text-align: center;
      justify-content: center;
    }
  }
}
}

.clm {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}

.features {
  padding: 7.5vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #b5a6c3;

  .row {
    margin: 1em;
    @media (max-width: 7900px) {
      width: 100%;
    }
  }

  .gifs {
    display: flex;
    flex-direction: column;
    @media (max-width: 700px) {
      display: block;
    }

    img {
      width: 50%;

      @media (max-width: 900px) {
        width: 90%;
      }
    }

    @media (max-width: 900px) {
      img {
        width: 90%;
      }
    }
  }
}

.team {
  padding: 7.5vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


//FOOTER////////////////////////////
.footer {
  height: auto;
  padding: 1em;
  background-color: $subtle-button;
  color: rgb(224, 242, 238);
}

::selection {
  background: rgb(53, 46, 87);
  background: rgb(82 65 128);
  color: #eee;
}
// body{
//   min-width: 100%;
// }

button:hover {
  cursor: pointer;
}



